.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  width: 90%;
  max-width: 18rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid white;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.header_text {
  font-size: 1.5rem;
}

.field {
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background-color: rgb(39, 39, 39);
  border: unset;
  color: whitesmoke;
}

.field::placeholder {
  color: gray;
}

.submit_button {
  background-color: var(--red);
  color: whitesmoke;
  outline: none;
  border: unset;
  cursor: pointer;
}

.submit_button:focus {
  border: 2px solid white;
}

.signup_link {
  font-size: 0.75rem;
  cursor: pointer;
}

.signup_link:hover {
  color: var(--red);
}
