.long_poster {
  max-height: 18rem;
  object-fit: contain;
}

.wide_poster {
  max-height: 9rem;
  object-fit: contain;
}

.actions {
  color: white;
}

.container {
  position: relative;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.container:hover .long_overlay {
  display: block;
}

.long_overlay {
  display: none;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 200ms all ease-in-out;
}

.center_play_button {
  position: absolute;
  display: flex;
  gap: 0.25rem;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .wide_overlay {
  display: flex;
}

.wide_overlay {
  height: 100%;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  gap: 0.25rem;
  position: absolute;
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.445);
  transition: all 200ms ease-in-out;
}

.title {
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .long_poster {
    max-height: 12rem;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  .wide_poster {
    max-height: 6rem;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  .title {
    font-size: 0.5rem;
    font-weight: 200;
  }

  .wide_overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: 100%;
    padding: 1rem;
  }

  .title {
    font-weight: 400;
  }

  .wide_poster:focus {
    border: 1px solid white;
  }

  .long_poster:focus {
    border: 1px solid white;
  }

  .wide_poster:focus .wide_overlay {
    display: flex;
  }

  .long_poster:focus .long_overlay {
    display: block;
  }
}
