.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  transition: all 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar_black {
  background-color: black;
}

.menu {
  list-style: none;
  display: flex;
  color: white;
  max-width: 90%;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.menu > li {
  transition: all 200ms ease-in-out;
}

.menu > li:hover {
  transform: scale(1.08);
  color: white;
  cursor: pointer;
}

.icon {
  height: 3rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: transparent;
  }
}
